<a href="https://colab.research.google.com/github/armandoordonez/eda_couse/blob/main/basic_clasification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img height="45px" src="https://drive.google.com/uc?id=1aJx1i5ecv6L6R5zUqK_ry6vuDnBDmprd"align="left" hspace="10px" vspace="0px"></p>

<h1>Flujo de analítica </h1>
<br>

*Tiempo aproximado:* ***15 minutos***

In [242]:
# Importamos las bibliotecas necesarias

# bibliotecas para manipulación de datos
import pandas as pd

# bibliotecas para preprocesamiento
from sklearn.model_selection import train_test_split
# bibliotecas para modelado
from sklearn.ensemble import RandomForestClassifier
# bibliotecas para evaluación
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
# bibliotecas para visualización
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.linear_model import LinearRegression

In [201]:
# Paso 1: Cargar el archivo CSV desde una URL en un DataFrame de Pandas 
# Ruta del archivo CSV
#ruta_archivo = 'https://raw.githubusercontent.com/armandoordonez/eda_couse/main/data/prediccion_prestamo_train.csv'  # Reemplaza con la ruta de tu archivo CSV
ruta_archivo = 'https://raw.githubusercontent.com/claudia-pixel/taller1/main/prediccion_prestamo_train.csv'
# Cargar el archivo CSV en un DataFrame de Pandas 
data = pd.read_csv(ruta_archivo, sep=',')

In [202]:
# Paso 2: Análisis Exploratorio de datos simplificado

# Puedes imprimir información básica sobre el conjunto de datos

print("Información del conjunto de datos:")
print(data.info())

Información del conjunto de datos:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       614 non-null    object
 1   Genero                   601 non-null    object
 2   Married                  611 non-null    object
 3   dependientes             599 non-null    object
 4    educacion               614 non-null    object
 5    autoempleado            582 non-null    object
 6    ingresos_solicitante    614 non-null    int64
 7    ingresos_cosolicitante  614 non-null    float64
 8    monto_prestamo          592 non-null    float64
 9    plazo_prestamo          600 non-null    float64
 10   historial_crediticio    564 non-null    float64
 11   area_propiedad          614 non-null    object
 12   estado_prestamo         614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB
None

In [203]:
# Visualizar las primeras filas del conjunto de datos

print("\nPrimeras filas del conjunto de datos:")
data.head(5)

Primeras filas del conjunto de datos:

,ID,Genero,Married,dependientes,educacion,autoempleado,ingresos_solicitante,ingresos_cosolicitante,monto_prestamo,plazo_prestamo,historial_crediticio,area_propiedad,estado_prestamo
0,LP001002,Hombre,No,0,Graduado,No,5849,0.0,NaN,360.0,1.0,Urbano,Y
1,LP001003,Hombre,Si,1,Graduado,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Hombre,Si,0,Graduado,Si,3000,0.0,66.0,360.0,1.0,Urbano,Y
3,LP001006,Hombre,Si,0,Not Graduado,No,2583,2358.0,120.0,360.0,1.0,Urbano,Y
4,LP001008,Hombre,No,0,Graduado,No,6000,0.0,141.0,360.0,1.0,Urbano,Y

In [204]:
# Mostrar estadísticas descriptivas
print("\nEstadísticas descriptivas:")
print(data.describe())
#

Estadísticas descriptivas:
        ingresos_solicitante   ingresos_cosolicitante   monto_prestamo  \
count             614.000000               614.000000       592.000000
mean             5403.459283              1621.245798       146.412162
std              6109.041673              2926.248369        85.587325
min               150.000000                 0.000000         9.000000
25%              2877.500000                 0.000000       100.000000
50%              3812.500000              1188.500000       128.000000
75%              5795.000000              2297.250000       168.000000
max             81000.000000             41667.000000       700.000000

        plazo_prestamo   historial_crediticio
count        600.00000             564.000000
mean         342.00000               0.842199
std           65.12041               0.364878
min           12.00000               0.000000
25%          360.00000               1.000000
50%          360.00000               1.000000
75%          360.00000               1.000000
max          480.00000               1.000000

In [205]:
# Paso 3: Preprocesamiento de datos
 
# Algo de limpieza de datos
# eliminamos los nulos
data = data.dropna()
data

,ID,Genero,Married,dependientes,educacion,autoempleado,ingresos_solicitante,ingresos_cosolicitante,monto_prestamo,plazo_prestamo,historial_crediticio,area_propiedad,estado_prestamo
1,LP001003,Hombre,Si,1,Graduado,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Hombre,Si,0,Graduado,Si,3000,0.0,66.0,360.0,1.0,Urbano,Y
3,LP001006,Hombre,Si,0,Not Graduado,No,2583,2358.0,120.0,360.0,1.0,Urbano,Y
4,LP001008,Hombre,No,0,Graduado,No,6000,0.0,141.0,360.0,1.0,Urbano,Y
5,LP001011,Hombre,Si,2,Graduado,Si,5417,4196.0,267.0,360.0,1.0,Urbano,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,FeHombre,No,0,Graduado,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Hombre,Si,3+,Graduado,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Hombre,Si,1,Graduado,No,8072,240.0,253.0,360.0,1.0,Urbano,Y
612,LP002984,Hombre,Si,2,Graduado,No,7583,0.0,187.0,360.0,1.0,Urbano,Y
613,LP002990,FeHombre,No,0,Graduado,Si,4583,0.0,133.0,360.0,0.0,SemiUrbano,N

In [206]:
# mostramos nuevemamente la información general del dataset 
# para verificar que no hayan nulos

print(data.info())

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       480 non-null    object
 1   Genero                   480 non-null    object
 2   Married                  480 non-null    object
 3   dependientes             480 non-null    object
 4    educacion               480 non-null    object
 5    autoempleado            480 non-null    object
 6    ingresos_solicitante    480 non-null    int64
 7    ingresos_cosolicitante  480 non-null    float64
 8    monto_prestamo          480 non-null    float64
 9    plazo_prestamo          480 non-null    float64
 10   historial_crediticio    480 non-null    float64
 11   area_propiedad          480 non-null    object
 12   estado_prestamo         480 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 52.5+ KB
None

In [218]:
# mostramos la información de las características   
print(X.info())

<class 'pandas.core.frame.DataFrame'>
Index: 480 entries, 1 to 613
Data columns (total 3 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0    ingresos_solicitante    480 non-null    int64
 1    ingresos_cosolicitante  480 non-null    float64
 2    monto_prestamo          480 non-null    float64
dtypes: float64(2), int64(1)
memory usage: 15.0 KB
None

In [222]:
# aqui se muestra la información de las etiquetas
# que en este caso es la columna 'estado_prestamo'  es la que queremos predecir
# en este caso es una variable binaria:  1 si el prestamo fue aprobado y 0 si no fue aprobado

print(y.value_counts())

data[' estado_prestamo'] = data[' estado_prestamo'].replace({"Y": 1, "N": 0})
data[' estado_prestamo'] = data[' estado_prestamo'].astype(int)

 estado_prestamo
1    332
0    148
Name: count, dtype: int64

In [223]:
# Paso 3: Dividir el conjunto de datos en características (X) y etiquetas (y)
# Características
# Seleccionamos las columnas de características
# ingresos_solicitante, ingresos_cosolicitante y monto_prestamo como características para el modelo
# y la columna estado_prestamo como etiqueta para predecir

X = data[[" ingresos_solicitante", " ingresos_cosolicitante", " monto_prestamo"]]
y = data[' estado_prestamo']

In [224]:
# Dividir Training/Testing
porc_test= 0.2
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size= porc_test)

In [240]:
# Creación del objeto modelo
modelo= LogisticRegression()

NameError: name 'LogisticRegression' is not defined

In [226]:
modelo.fit(x_train, y_train)

LinearRegression()

In [232]:
# Paso 5: Evaluación del modelo
y_pred = modelo.predict(X_test)

In [246]:
# Calcular la precisión del modelo
#precision = accuracy_score(y_test, y_pred)
#print(f"\nPrecisión del modelo: {precision:.2f}")

# Realizar predicción
y_train_predict= modelo.predict(x_train) # Con los datos de entrenamiento.
y_test_predict= modelo.predict(x_test)  # Con los datos de prueba.

# Evaluar los scores
error_train= mean_squared_error(y_train_predict, y_train)
print("Error en training: %s" % round(error_train,2))
error_test= mean_squared_error(y_test_predict, y_test)
print("Error en testing: %s" % round(error_test,2))

Error en training: 0.22
Error en testing: 0.19

In [245]:
# Paso 6: Guardar el modelo entrenado en un archivo para su uso posterior
# Guardar el modelo en un archivo usando pickle
import pickle

with open('modelo_prestamo.pkl', 'wb') as archivo_salida:
    pickle.dump(modelo, archivo_salida)

# Verificar que se haya creado el modelo en el sistema de archivos

In [238]:

# Paso 7: Cargar el modelo desde el archivo y hacer una predicción
with open('modelo_prestamo.pkl', 'rb') as archivo_entrada:
    modelo_cargado = pickle.load(archivo_entrada)

# Crear un nuevo ejemplo de datos
nuevo_ejemplo = pd.DataFrame({
    ' ingresos_solicitante': [5000],
    ' ingresos_cosolicitante': [0],
    ' monto_prestamo': [300]
})

# Hacer una predicción usando el modelo cargado
prediccion = modelo_cargado.predict(nuevo_ejemplo)
print("\nPredicción:", prediccion)

# Modifique el valor de los ingresos del solicitante a 1000 y vuelva a ejecutar la celda anterior para ver cómo cambia la predicción.

Predicción: [0.6449118]

In [244]:
# Paso 7: Cargar el modelo desde el archivo y hacer una predicción
with open('modelo_prestamo.pkl', 'rb') as archivo_entrada:
    modelo_cargado = pickle.load(archivo_entrada)

# Crear un nuevo ejemplo de datos
nuevo_ejemplo = pd.DataFrame({
    ' ingresos_solicitante': [1000],
    ' ingresos_cosolicitante': [0],
    ' monto_prestamo': [300]
})

# Hacer una predicción usando el modelo cargado
prediccion = modelo_cargado.predict(nuevo_ejemplo)
print("\nPredicción:", prediccion)

# Modifique el valor de los ingresos del solicitante a 1000 y vuelva a ejecutar la celda anterior para ver cómo cambia la predicción.

Predicción: [0.65211753]

In [43]:
# Ejercicios a realizar:

# 1. Utiliza otras variables del conjunto de datos para predecir el prestamo
# 2. Utliza otro algoritmo y compara los resultados los resultados